{
    "layer": "top",
    "position": "top",
    "height": 24,
    "modules-left": ["sway/workspaces"],
    "modules-center": ["sway/window"],
    "modules-right": ["idle_inhibitor", "pulseaudio", "network", "temperature", "cpu", "memory", "battery", "clock","tray"],
    "sway/workspaces": {
        "disable-scroll": true,
        "disable-click": false,
    },
    "tray": {
        "spacing": 10,
    },
    "clock": {
        "format": "{:%a %Y %b %d %R}"
    },
    "custom/japan": {
        "format": "{}",
        "exec": "TZ=Asia/Tokyo date \"+%H:%M %Z\"",
        "interval": 30,
    },
    "cpu": {
        "format": " {usage}%"
    },
    "memory": {
        "format": " {}%"
    },
    "temperature": {
        "critical-threshold": 75,
        "format": " {temperatureC}°C"
    },
    "battery": {
        "bat": "BAT0",
        "full-at": 95,
        "states": {
            "good": 95,
            "warning": 30,
            "critical": 15
        },
        "format": "{icon} {capacity}%",
        "format-icons": ["", "", "", "", ""]
    },
    "network": {
        "format-wifi": " {signalStrength}%",
        "format-disconnected": "⚠ Disconnected"
    },
    "pulseaudio": {
                "format": "{icon} {volume:2}%",
                "format-bluetooth": "{icon}  {volume}%",
                "format-muted": "MUTE",
                "format-icons": {
                        "headphones": "",
                        "default": [
                                "",
                                ""
                        ]
                },
                "scroll-step": 5,
                "on-click": "pamixer -t",
                "on-click-right": "pavucontrol"
        },
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "  ",
            "deactivated": "  "
            }
	},
    "backlight": {
                // "device": "acpi_video1",
                "format": "{icon} {percent}%",
                "format-icons": ["", ""]
        },
}
